.best {
	background-image: url('../images/bg/bg-best.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	@include flex-center;
}

.section__title--best {
	color: $black;
	margin-bottom: 60px;
}

.best__list {
	display: flex;
}

.best__item {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}

.best__icon-wrap {
	@include flex-center;
	margin-bottom: 40px;
}

.best__icon-pic {
	width: 90px;
	height: 90px;

	&--meat{
		fill: $orange;	
	}

	&--hand{
		fill: $yellow;
	}
	
	&--natural{
		fill: $green;
	}
}

.best__title {
	font-family: $fancy-font;
	font-size: 24px;
	font-weight: $medium;
	text-align: center;
	margin-bottom: 15px;
	line-height: 1;
}

.best__text {
	text-align: center;
	opacity: 0.8;
	font-size: 14px;
	font-weight: $light;
	line-height: 1.71;

}