.delivery {
	background-image: url('../images/bg/bg-delivery.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@include flex-center;
	flex-direction: column;
}

.section__title--delivery {
	margin-bottom: rem(60px);

	@include tablets {
		text-align: center;
		line-height: 1.1;
		margin-bottom: 7%;
	}

	@include phones {
		margin-bottom: 5%;
	}
}

.form {
	@include flex-center;
	margin-right: -2%;
	align-items: flex-start;
	align-self: stretch;

	@include tablets {
		flex-direction: row;
		flex-wrap: wrap;
		width: 69%;
		align-self: center;

	}

	@include phones {
		width: 100%;
	}

	&__column{
		width: 48%;
		margin-right: 2%;

		@include tablets {
			width: 95%;
			margin-right: 0;

			&:not(:last-child) {
				margin-bottom: rem(17px);
			}
		}

		@include phones {
			width: 100%;
		}
	}

	&__row {
		@include flex-center;
		justify-content: flex-start;

		&:not(:last-child) {
			margin-bottom: rem(17px);

			@include phones {
				margin-bottom: rem(10px);
			}
		}

		&--buttons {
			@include tablets {
				margin-top: rem(45px);
			}
		}

		&--buttons, &--shifted {
			@include phones {
				margin-top: rem(40px);
			}
		}
		
		&--shortened {
			@include phones {
				width: calc(100% + #{rem(15px)});
			}
		}

		@include phones {
			justify-content: center;
		}
	}
}

.form__field {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;

	&:not(:last-child) {
		margin-right: rem(20px);
	}

	&--hidden {
		@include phones {
			display: none;
		}
	}
}

.form__label {
	font-weight: $light;
	font-size: rem(14px);
	color: $white;
	margin-bottom: rem(7px);

	@include phones {
		margin-bottom: rem(5px);
	}
}

.form__control {
	border: rem(1px) solid #d1cfcb;
	border-radius: rem(5px);
	padding: rem(8px) rem(10px);
	font-size: rem(14px);
	width: 100%;

	&--textarea {
		height: rem(110px);
		resize: none;

		@include phones {
			height: rem(100px)
		}
	}

	&--radio {
		display: none;
	}

	&:focus {
		outline: none;
		border-color: $orange;
	}
}

.form__radio {
	display: flex;
	align-items: center;
	white-space: nowrap;
	margin-right: rem(20px);

	&-label {
		font-weight: $light;
		font-size: rem(14px);
		color: $white;
	}
}

.form__radio-fake {
	@include circle (16px, #fff);
	position: relative;
	margin-right: rem(15px);
	
	&::after {
		content: '';
		display: block;
		position: absolute;
		@include circle (0px, $orange);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: width .3s, height .3s;
	}
}

.form__control--radio:checked {
	&+.form__radio-fake {
		&::after {
			width: rem(8px);
			height: rem(8px);
		}
	}
}

.form__radio--checkbox {
	.form__radio-fake {
		border-radius: 0;
		&::after {
			background-color: transparent;
		}
	}

	.form__control--radio:checked {
		&+.form__radio-fake {
			&::after {
				background-image: url('../images/icons/checkmark.png');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				width: rem(12px);
				height: rem(9px);
			}
		}
	}
}

.form__button {
	border: none;

	&:not(:last-child) {
		margin-right: rem(20px);
	}

	&--reset {
		background: none;
		text-transform: capitalize;
		font-weight: $light;
		padding: 0;
		text-align: left;

		&:hover {
			text-decoration: underline;
			background: none;
		}
	}
}