.start {
	background-image: url('../images/bg/bg-start.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.start__container {
	height: 100%;
	justify-content: space-between;
}

.header {
	width: 100%;
	padding-top: rem(10px);
	@include flex-center;

	&__logo {
		margin-right: auto;
		z-index: 1;
	}

	&__menu {
		@include tablets {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $black;
			display: none;

			&--active {
				display: block;
			}
		}
	}
}

.nav {
	margin-right: rem(15px);

	@include tablets {
		height: 100%;
	}
}

.nav__list {
	display: flex;
	align-items: center;

	@include tablets {
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
}

.nav__item {
	display: flex;
	align-items: center;

	@include tablets {
		display: block;
	}

	&:after {
		content: '';
		@include circle (rem(4px), #fff);
		margin: 0 rem(12px);

		@include tablets {
			display: block;
			margin: rem(15px) auto;
			text-align: center;
			@include circle (6px, #fff);
		}
	}
	&:last-child:after {
		display: none;
	}
}

.nav__link {
	color: $white;
	font-size: rem(13px);
	font-weight: $medium;
	text-transform: uppercase;
	text-decoration: none;
	transition: .3s;

	@include tablets {
		font-size: rem(24px);
		font-weight: $normal;
	}

	&:hover {
		text-decoration: underline;
	}
}

.header__btns {
	display: flex;
	align-items: center;
}

.order-link {
	@include tablets {
		margin-right: rem(30px);
	}
}

.hamburger-menu {
	height: rem(22px);
	display: none;
	position: relative;
	background: none;
	border: none;
	padding: 0;
	margin: 0;

	@include tablets {
		display: flex;
		align-items: center;
	}
}

.hamburger-menu__bars {

	&, &::before, &::after {
		background-color: #fff;
		width: rem(24px);
		height: rem(5px);
		border-radius: rem(3px);
		content: '';
		display: block;
	}

	&::before, &::after {
		position: absolute;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

.fullscreen-menu {
	opacity: .7;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	z-index: 1;
	display: none;

	@include tablets {
		display: block;
	}

	&__pic {
		width: rem(20px);
		height: rem(20px);
		fill: $white;
		display: block;
	}

	&:hover {
		opacity: 1;
	}
}

.hidden {
	display: none;
}

.start__content {
	flex-grow: 1;
	flex-shrink: 1;
	min-height: 0;
	display: flex;
	align-items: center;
	padding-bottom: 10%;
	align-self: stretch;

	@include tablets {
		flex-direction: column;
		width: 70%;
		justify-content: center;
		align-self: center;
	}
}

.start__img-wrap, .start__description {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}

.start__img {

	&-wrap {
		margin-right: rem(10px);
		flex-shrink: 1;
		min-height: 0;
		justify-content: center;

		@include tablets {
			margin-right: 0;
			flex-shrink: 1;
			flex-grow: 0;
			flex-basis: auto;
		}
	}

	&-pic {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}


.start__description {
	flex-direction: column;

	@include tablets {
		align-items: center;
		flex-shrink: 0;
		flex-grow: 0;
		flex-basis: auto;
	}
}

.section__title {
	font-family: $title-font;
	font-size: rem(72px);
	font-weight: $normal;
	color: $yellow;

	&--start {
		padding-top: rem(60px);

		@include tablets {
			padding-top: 0;
			padding-bottom: rem(5px);
		}
	}

	@include phones {
		font-size: rem(50px);
	}
}

.start__text {
	font-family: $fancy-font;
	font-size: rem(65px);
	font-weight: $medium;
	color: $white;
	line-height: 1;

	@include tablets {
		text-align: center;
	}

	@include phones {
		font-size: rem(54px);
	}
}

.down-link {
	padding-bottom: 3%;
}

.down-link__icon {
	width: rem(30px);
	height: rem(30px);
	fill: #ffffff;
}
