.button {
	min-width: 98px;
	display: block;
	border-radius: 5px;
	background-color: $button-color;
	color: $light-text;
	font-size: 13px;
	line-height: 1;
	font-family: $default-font;
	font-weight: $medium;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 16px;
	transition: .3s;
	&:hover {
		background-color: $button-hover;

	}
}