.onepage-pagination {
	position: fixed;
	top: rem(90px);
	right: rem(50px);


	@include tablets {
		display: none;
	}
}

.onepage-pagination li {
	margin-bottom: rem(15px);

	&:last-child {
		margin-bottom: 0;
	}
}

.onepage-pagination li a {
	display: block;
	content: '';
	width: rem(6px);
	height: rem(6px);
	position: relative;
	background-color: #fff;
	border-radius: 100%;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100%;
		background-color: transparent;
		width: rem(16px);
		height: rem(16px);
		border: rem(1px) solid #fff;
		opacity: 0;
    	transition: opacity .3s;
	}
}

.onepage-pagination li a.active:before, 
.onepage-pagination li:hover .onepage-pagination li a::before {
	opacity: 1;
}
