//fonts
$default-font: 'Ubuntu';
$header-font: 'Gagalin';
$fancy-font: 'Lifehack';

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

//colors
$dark-text: #2f3234;
$light-text: #ffffff;
$orange: #f9b43b;

//dimensions
$minheight: 650px;
$minwidth: 1100px;