//fonts
$default-font: 'Ubuntu', Helvetica, sans-serif;
$title-font: 'Gagalin', Helvetica, sans-serif;
$fancy-font: 'Lifehack', Helvetica, sans-serif;

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

//colors
$black: #2f3234;
$white: #ffffff;
$green: #8bc03e;
$yellow: #f9b43b;
$orange: #e35028;
$gradient-orange: #eb8c38;
$button-hover: #c1401e;
$button-hover-dark: #1f2122;

//dimensions
$minheight: 650px;
$maxwidth: 940px;

//resolutions
$tablets: 768px;
$phones: 480px;