//fonts
$default-font: 'Ubuntu';
$title-font: 'Gagalin';
$fancy-font: 'Lifehack';

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

//colors
$dark-text: #2f3234;
$light-text: #ffffff;
$orange: #f9b43b;
$dark-orange: #e35028;
$gradient-orange: #eb8c38;
$button-color: #e45028;
$button-hover: #c1401e;
$button-hover-dark: #1f2122;

//dimensions
$minheight: 650px;
$minwidth: 940px;